{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}
    Cadastro de Empresas
{% endblock title %}
{% block content %}

<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">Cadastro de Empresas</div>
    </div>
    <br>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {% if company_form.errors %}
                {% for field in company_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% bootstrap_form company_form %}
            {% if address_form.errors %}
                {% for field in address_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% bootstrap_form address_form %}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url "read_companies" %}" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</div>

{% endblock content %}
